@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --destructive: 0 100% 60%;
    --destructive-foreground: 0 85.7% 97.3%;

    --brand: 151 82% 61%;
    --brand-foreground: 151 82% 9.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
